In [11]:
no <- 1:4
name <- c("Apple","Banana","Peach","Berry")
price <- c(500,200,200,50)
qty <- c(5,4,3,2)
fruit <- data.frame("번호" = no, "제품" = name, "금액" = price, "수량" = qty)
fruit

ls()

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  X.U.BC88..U.D638. X.U.C81C..U.D488. X.U.AE08..U.C561. X.U.C218..U.B7C9.
1 1                 Apple             500               5
2 2                 Banana            200               4
3 3                 Peach             200               3
4 4                 Berry              50               2

[1] "df"    "fruit" "name"  "no"    "price" "qty"

In [15]:
#메모리 형태로 파일 보관
save(no,fruit,name,file="./Data/testFruit.csv")

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [21]:
rm(no,fruit,name)
ls()

[1] "df"    "price" "qty"

In [22]:
load("./Data/testFruit.hwp")

In [23]:
fruit

  X.U.BC88..U.D638. X.U.C81C..U.D488. X.U.AE08..U.C561. X.U.C218..U.B7C9.
1 1                 Apple             500               5
2 2                 Banana            200               4
3 3                 Peach             200               3
4 4                 Berry              50               2

In [24]:
ls()

[1] "df"    "fruit" "name"  "no"    "price" "qty"

In [28]:
# fruit를 csv로 저장하기
write.csv(fruit,"./Data/fruit.csv", row.names=F)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [29]:
read.csv("./Data/fruit.csv")

  X.U.BC88..U.D638. X.U.C81C..U.D488. X.U.AE08..U.C561. X.U.C218..U.B7C9.
1 1                 Apple             500               5
2 2                 Banana            200               4
3 3                 Peach             200               3
4 4                 Berry              50               2

# 세계 GDP 순위 데이터 정제 및 차트 만들기

In [79]:


GDP_ranking = read.csv("./Data/GDP.csv",stringsAsFactors = F)
GDP_ranking2 <- GDP_ranking[-1:-4,c(-3,-6)]
str(GDP_ranking2)
GDP_ranking15 <- head(GDP_ranking2,15)
GDP_ranking15

'data.frame':	324 obs. of  4 variables:
 $ X                          : chr  "USA" "CHN" "JPN" "DEU" ...
 $ Gross.domestic.product.2018: chr  "1" "2" "3" "4" ...
 $ X.2                        : chr  "United States" "China" "Japan" "Germany" ...
 $ X.3                        : chr  " 20,494,100 " " 13,608,152 " " 4,970,916 " " 3,996,759 " ...

   X   Gross.domestic.product.2018 X.2                X.3
5  USA 1                           United States       20,494,100
6  CHN 2                           China               13,608,152
7  JPN 3                           Japan               4,970,916
8  DEU 4                           Germany             3,996,759
9  GBR 5                           United Kingdom      2,825,208
10 FRA 6                           France              2,777,535
11 IND 7                           India               2,726,323
12 ITA 8                           Italy               2,073,902
13 BRA 9                           Brazil              1,868,626
14 CAN 10                          Canada              1,712,510
15 RUS 11                          Russian Federation  1,657,554
16 KOR 12                          Korea, Rep.         1,619,424
17 AUS 13                          Australia           1,432,195
18 ESP 14                          Spain               1,426,189
19 MEX 15                          Mexico              1,223,809

In [78]:
#컬럼 이름 정의 :  Code, Ranking,Nation,GDP
colnames(GDP_ranking15) <- c("Code","Ranking","Nation","GDP")
head(GDP_ranking15)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  Code Ranking Nation         GDP
1 USA  1       United States   20,494,100
2 CHN  2       China           13,608,152
3 JPN  3       Japan           4,970,916
4 DEU  4       Germany         3,996,759
5 GBR  5       United Kingdom  2,825,208
6 FRA  6       France          2,777,535

In [77]:
head(GDP_ranking15)

  Code Ranking Nation         GDP
1 USA  1       United States   20,494,100
2 CHN  2       China           13,608,152
3 JPN  3       Japan           4,970,916
4 DEU  4       Germany         3,996,759
5 GBR  5       United Kingdom  2,825,208
6 FRA  6       France          2,777,535

In [76]:

GDP_ranking15

   Code Ranking Nation             GDP
1  USA  1       United States       20,494,100
2  CHN  2       China               13,608,152
3  JPN  3       Japan               4,970,916
4  DEU  4       Germany             3,996,759
5  GBR  5       United Kingdom      2,825,208
6  FRA  6       France              2,777,535
7  IND  7       India               2,726,323
8  ITA  8       Italy               2,073,902
9  BRA  9       Brazil              1,868,626
10 CAN  10      Canada              1,712,510
11 RUS  11      Russian Federation  1,657,554
12 KOR  12      Korea, Rep.         1,619,424
13 AUS  13      Australia           1,432,195
14 ESP  14      Spain               1,426,189
15 MEX  15      Mexico              1,223,809