In [14]:
options(warn = -1)
options(repr.plot.width=15, repr.plot.height=9) 
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")

[1] "ko_KR.UTF-8/ko_KR.UTF-8/ko_KR.UTF-8/C/ko_KR.UTF-8/C"

In [11]:
head(iris)
head(iris[1:10,1:3])
head(iris[seq(10,150,10),],n=15)
samp <- sample(1:150,10)
iris[c(samp),]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  Sepal.Length Sepal.Width Petal.Length
1 5.1          3.5         1.4
2 4.9          3.0         1.4
3 4.7          3.2         1.3
4 4.6          3.1         1.5
5 5.0          3.6         1.4
6 5.4          3.9         1.7

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
119 7.7          2.6         6.9          2.3         virginica
20  5.1          3.8         1.5          0.3         setosa
64  6.1          2.9         4.7          1.4         versicolor
28  5.2          3.5         1.5          0.2         setosa
88  6.3          2.3         4.4          1.3         versicolor
67  5.6          3.0         4.5          1.5         versicolor
124 6.3          2.7         4.9          1.8         virginica
50  5.0          3.3         1.4          0.2         setosa
78  6.7          3.0         5.0          1.7         versicolor
133 6.4          2.8         5.6          2.2         virginica

In [12]:
unique(iris$Species)

[1] setosa     versicolor virginica
Levels: setosa versicolor virginica

In [13]:
head(iris[seq(10,150,10),],n=15)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
10  4.9          3.1         1.5          0.1         setosa
20  5.1          3.8         1.5          0.3         setosa
30  4.7          3.2         1.6          0.2         setosa
40  5.1          3.4         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
60  5.2          2.7         3.9          1.4         versicolor
70  5.6          2.5         3.9          1.1         versicolor
80  5.7          2.6         3.5          1.0         versicolor
90  5.5          2.5         4.0          1.3         versicolor
100 5.7          2.8         4.1          1.3         versicolor
110 7.2          3.6         6.1          2.5         virginica
120 6.0          2.2         5.0          1.5         virginica
130 7.2          3.0         5.8          1.6         virginica
140 6.9          3.1         5.4          2.1         virginica
150 5.9          3.0         5.1          1.8         virginica

In [16]:
# column 수
length(iris)
ncol(iris)
nrow(iris)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 5

[1] 5

[1] 150

In [20]:
#iris의 Sepal.Length의 최댓값과 최솟값의 차이가 평균보다 큰지?
(max(iris$Sepal.Length)-min(iris$Sepal.Length)) > mean(iris$Sepal.Length)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] FALSE

In [27]:
#iris에서 1~10까지의 데이터중 Sepal.Length와Sepal.width만 출력
iris[1:10,c("Sepal.Length","Petal.Length")]
colnames(iris)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

   Sepal.Length Petal.Length
1  5.1          1.4
2  4.9          1.4
3  4.7          1.3
4  4.6          1.5
5  5.0          1.4
6  5.4          1.7
7  4.6          1.4
8  5.0          1.5
9  4.4          1.4
10 4.9          1.5

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [39]:
#iris의 Sepal.Length를 iSL이라는 벡터를 생성하고 이중 1번 2번 데이터를 삭제 하고 완료하기.

length(iris$Sepal.Length)
iSL <- iris$Sepal.Length[-c(1:2)]
length(iSL)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 150

[1] 148

In [41]:
summary(iris)
median(iris$Sepal.Length)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

[1] 5.8

In [43]:
#중앙값과 평균
num1 <- c(1,1,1,1,5)
mean(num1)
median(num1)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 1.8

[1] 1

In [44]:
#factor Type 인 Species에서 문자와 숫자로 각각 출력하기.
as.character(iris$Species)
as.numeric(iris$Species)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  [1] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
  [6] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [11] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [16] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [21] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [26] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [31] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [36] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [41] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [46] "setosa"     "setosa"     "setosa"     "setosa"     "setosa"
 [51] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [56] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [61] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [66] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [71] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [76] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [81] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [86] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [91] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
 [96] "versicolor" "versicolor" "versicolor" "versicolor" "versicolor"
[101] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[106] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[111] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[116] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[121] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[126] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[131] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[136] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[141] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"
[146] "virginica"  "virginica"  "virginica"  "virginica"  "virginica"

  [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 [38] 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 [75] 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3
[112] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[149] 3 3

In [47]:
#벡터 계산
x <- c(3,6,9,12,15)
x+1
x + c(1,2,3,4,5)
x + c(2,3)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1]  4  7 10 13 16

[1]  4  8 12 16 20

Warning message in x + c(2, 3):
"longer object length is not a multiple of shorter object length"

[1]  5  9 11 15 17

In [48]:
# 벡터 합치기
x <- c(3,5,6,12,15)
y <- c(1,2,3,4,5)
z <- append(x,y)
z

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

 [1]  3  5  6 12 15  1  2  3  4  5

In [58]:
# iris의 Sepal.Length의 중복되지 않은 갯수의 percent 구하기.
per <- (length(unique(iris$Sepal.Length))/nrow(iris))*100

print(per)

per1 <- (length(iris$Sepal.Length)-length(unique(iris$Sepal.Length)))/nrow(iris)*100

per1

per2 <- 100-per

per2

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 23.33333

[1] 76.66667

[1] 76.66667

# 문자열 관련 함수

In [74]:
 x <- c('a','b','c','d','e')
 x
 x[1:2]
 paste(x[1],x[2],sep="")

[1] "a" "b" "c" "d" "e"

[1] "a" "b"

[1] "ab"

In [64]:
paste(iris$Species[1],":",iris$Species[51],":",iris$Species[101])

[1] "setosa : versicolor : virginica"

In [73]:
print("a")
cat("90","\tc","\n90","\tc")

[1] "a"
90 	c
90 	c

In [69]:
Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8")

Warning message in Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8"):
"OS reports request to set locale to "ko_KR.UTF-8" cannot be honored"

[1] ""

In [76]:
paste("010","1111","2222",sep="-")

[1] "010-1111-2222"

In [77]:
str01 <- "abcdefghijklm"
substring(str01,2,5)

[1] "bcde"

In [78]:
Sys.setlocale(category = "LC_ALL", locale = "en_US.UTF-8")

Warning message in Sys.setlocale(category = "LC_ALL", locale = "en_US.UTF-8"):
"OS reports request to set locale to "en_US.UTF-8" cannot be honored"

[1] ""

In [82]:
# 벡터를 이용하여 행렬 만들기
vec1 <- c(1,2,3)
vec2 <- c(4,5,6)
vec3 <- c(7,8,9)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [85]:
# rbind : row bind

mat1 <- rbind(vec1,vec2,vec3)
mat1
mat2 <- cbind(vec1,vec2,vec3)
mat2

     [,1] [,2] [,3]
vec1 1    2    3
vec2 4    5    6
vec3 7    8    9

     vec1 vec2 vec3
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [109]:
irisHead <- head(iris ,5)
irisHead
#추출한 데이터에 row에 1,1,1,1,setosa추가하기.


irisHead <-  rbind(irisHead,c(1,1,1,1,"setosa"))
irisHead

abc <- rep(2,6)
irisHead <- cbind(irisHead, abc)

irisHead

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3           1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5            3.6         1.4          0.2         setosa
6 1            1           1            1           setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5            3.6         1.4          0.2         setosa  2
6 1            1           1            1           setosa  2

In [110]:
irisHead$Sepal.Length <- as.numeric(irisHead$Sepal.Length)
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species abc
1 5.1          3.5         1.4          0.2         setosa  2
2 4.9          3           1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  2
4 4.6          3.1         1.5          0.2         setosa  2
5 5.0          3.6         1.4          0.2         setosa  2
6 1.0          1           1            1           setosa  2

In [126]:
Length <- iris$Sepal.Length + iris$Petal.Length
irisHead <- cbind(irisHead, Length)

irisHead <- irisHead[,-ncol(irisHead)] 
irisHead <- irisHead[,-ncol(irisHead)]
irisHead <- irisHead[,-ncol(irisHead)]
irisHead <- irisHead[,-ncol(irisHead)]
irisHead <- irisHead[,-ncol(irisHead)]
irisHead <- irisHead[,-ncol(irisHead)]
irisHead <- irisHead[,-ncol(irisHead)]

In [135]:

irisHead <- head(iris ,5)
irisHead$Length <- irisHead$Sepal.Length + irisHead$Petal.Length
irisHead

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species Length
1 5.1          3.5         1.4          0.2         setosa  6.5
2 4.9          3.0         1.4          0.2         setosa  6.3
3 4.7          3.2         1.3          0.2         setosa  6.0
4 4.6          3.1         1.5          0.2         setosa  6.1
5 5.0          3.6         1.4          0.2         setosa  6.4

In [139]:
sl <- iris$Sepal.Length
sq <- iris$Sepal.Width

irisM <- cbind(sl,sq)
head(irisM)
class(irisM)
irisD <- as.data.frame(irisM)
class(irisD)

     sl  sq
[1,] 5.1 3.5
[2,] 4.9 3.0
[3,] 4.7 3.2
[4,] 4.6 3.1
[5,] 5.0 3.6
[6,] 5.4 3.9

[1] "matrix"

[1] "data.frame"

In [145]:
mat1
colnames(mat1) <- c("a","b","c")
mat1
mat1D <-as.data.frame(mat1)
class(mat1D)

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

[1] "data.frame"

In [148]:
rownames(mat2) <- 1:3
class(mat2)
mat2D <- as.data.frame(mat2)

[1] "matrix"

In [153]:
mat1D
mat2D

colnames(mat2D) <-colnames(mat1D)
rbind(mat1D,mat2D)

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9

  a b c
1 1 4 7
2 2 5 8
3 3 6 9

     a b c
vec1 1 2 3
vec2 4 5 6
vec3 7 8 9
1    1 4 7
2    2 5 8
3    3 6 9

# 데이터 프레임
- 다양한 자료형으로 구성된 2차원 형태의 데이터 구조

In [154]:
# 벡터로 데이터 프레임 만들기

no <- 1:4
name <- c("Apple","Banana","Peach","Berry")
price <- c(500,400,300,200)
qty <- c(5,2,7,9)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

ERROR: Error in parse(text = x, srcfile = src): <text>:1:21: unexpected '<'
1: fruit <- data.frame(<
                        ^

In [166]:
fruit <- data.frame(번호 = no, 이름 = name, 가격 = price, 수량 = qty)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

ERROR: Error in parse(text = x, srcfile = src): <text>:1:21: unexpected '<'
1: fruit <- data.frame(<
                        ^

In [169]:
# 변수 정의
no <- 1:4
name <- c("Apple", "Banana", "Peach", "Berry")
price <- c(500, 400, 300, 200)
qty <- c(5, 2, 7, 9)

# 데이터프레임 생성
fruit <- data.frame(no,  name, price, qty)

# 결과 출력
fruit

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  no name   price qty
1 1  Apple  500   5
2 2  Banana 400   2
3 3  Peach  300   7
4 4  Berry  200   9

In [171]:
fruit[,c(2,4)]

  name   qty
1 Apple  5
2 Banana 2
3 Peach  7
4 Berry  9

In [179]:
fruit[-c(2,4),-c(1)]
fruit
fruit$total = fruit$price * fruit$qty
fruit
fruit$country <- c("한국","태국","한국","중국")
fruit

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  name  price qty total
1 Apple 500   5   2500
3 Peach 300   7   2100

  no name   price qty total
1 1  Apple  500   5   2500
2 2  Banana 400   2    800
3 3  Peach  300   7   2100
4 4  Berry  200   9   1800

  no name   price qty total
1 1  Apple  500   5   2500
2 2  Banana 400   2    800
3 3  Peach  300   7   2100
4 4  Berry  200   9   1800

  no name   price qty total country
1 1  Apple  500   5   2500  <U+D55C><U+AD6D>
2 2  Banana 400   2    800  <U+D0DC><U+AD6D>
3 3  Peach  300   7   2100  <U+D55C><U+AD6D>
4 4  Berry  200   9   1800  <U+C911><U+AD6D>

# 외부 File 불러오기

In [15]:
txtEmp <- read.table("./Data/emp.txt", header = T,sep="",stringsAsFactors = F)
txtEmp

  사번 이름 급여
1 101  hong 150
2 201  lee  250
3 301  kim  300

In [16]:
str(txtEmp)

'data.frame':	3 obs. of  3 variables:
 $ 사번: int  101 201 301
 $ 이름: chr  "hong" "lee" "kim"
 $ 급여: int  150 250 300

In [5]:
csvEmp <-read.csv("./Data/emp2.csv",header = F,stringsAsFactors = F)

csvEmp

# csvEmp 데이터프레임의 열 이름 변경
colnames(csvEmp) <- c("사번","이름","급여")

csvEmp

  V1  V2     V3
1 101 홍길동 150
2 102 이순신 450
3 103 강감찬 500
4 104 유관순 350
5 105 김유신 400

  사번 이름   급여
1 101  홍길동 150
2 102  이순신 450
3 103  강감찬 500
4 104  유관순 350
5 105  김유신 400

In [24]:
ncol(csvEmp)
nrow(csvEmp)

[1] 3

[1] 5

In [25]:
df <- data.frame(x = 1:5,y=seq(2,10,2),z=c('a','b','c','d','e'))

df

  x y  z
1 1  2 a
2 2  4 b
3 3  6 c
4 4  8 d
5 5 10 e

In [27]:
dx = sum(df$x)
dy = sum(df$y)
dx; dy

[1] 15

[1] 30

# 함수를 부르는 함수

In [39]:
apply(df[,1:2],2,sum)
apply(df[,1:2],2,mean)
#행방향
df$Hap <- apply(df[,1:2],1,sum)
df

#부분 집합
a <- subset(df, x>=3 & y>=8)
a
a$xy <- apply(a[,1:2],1,sum)
a

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

 x  y
15 30

x y
3 6

  x y  z Hap
1 1  2 a  3
2 2  4 b  6
3 3  6 c  9
4 4  8 d 12
5 5 10 e 15

  x y  z Hap
4 4  8 d 12
5 5 10 e 15

  x y  z Hap xy
4 4  8 d 12  12
5 5 10 e 15  15

# 두개 이상의 데이터 프레임 병합하기

In [32]:
# case 1: key값이 되는 컬럼이 동일하고 data의 갯수도 동일한 경우
height <- data.frame(id = 1:3,  
                    height =c(160,170,180)              )
                    height

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  id height
1 1  160
2 2  170
3 3  180

In [33]:
weight <- data.frame(
                    ad=c(2,1),
                    weight = c(70,60)
)
weight

  ad weight
1 2  70
2 1  60

In [34]:
merge(height,weight)

  id height ad weight
1 1  160    2  70
2 2  170    2  70
3 3  180    2  70
4 1  160    1  60
5 2  170    1  60
6 3  180    1  60

In [35]:
#key를 정의하기 : data가 적은 쪽의 기준으로 merge 한다.
merge(x = height, y= weight,by.x="id",by.y="ad")

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  id height weight
1 1  160    60
2 2  170    70

In [36]:
#data가 많은쪽을 기준으로 
merge(x = height, y= weight,by.x="id",by.y="ad",all.x=T)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  id height weight
1 1  160    60
2 2  170    70
3 3  180    NA

In [52]:
matrix(1:10)
matrix(1:10, nrow=2)
matrix(1:9, nrow=3,ncol=3)

      [,1]
 [1,]  1
 [2,]  2
 [3,]  3
 [4,]  4
 [5,]  5
 [6,]  6
 [7,]  7
 [8,]  8
 [9,]  9
[10,] 10

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

## List
- 성격이 다른 자료구조로 생성이 가능하다.
- key롸 value값으로 구성된다.

In [17]:
member <- list(name="홍길동", address="서울",tel="010-1111-1111",pay=300)
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-1111"

$pay
[1] 300

In [55]:
member$birth <- "1988-08-08"

In [18]:
member

$name
[1] "홍길동"

$address
[1] "서울"

$tel
[1] "010-1111-1111"

$pay
[1] 300

# 문자열 처리
수집한 데이터의 필요한 문자열을 자르고, 교체하고, 추출하는 작업

## Stringr package 사용
- str_length() : 문자열 길이
- str_c() :  문자열 연결
- str_sub() : 범위에 해당하는 문자열 생성
- str_split() : 구분자를 기준으로 문자열을 분리하여 부분 생성
- str_replace() : 기존 문자열을 특정 문자열로 변환
- str_extract() :  문자열에서 특정 문자열 패턴의 첫번째 문자열 추출
- str_extract_all() :
- str_locate() : 문자열에서 특정 문자열 패턴의 첫번째 위치 추출
- str_locate_all() :

In [7]:
#패키지 불러오기

library(stringr)
install.packages("stringr")

The downloaded binary packages are in
	/var/folders/ws/19pvrmj569x7h95xb240729r0000gn/T//RtmpHsG70j/downloaded_packages

In [8]:
string <- "hongkildong105youbee1002kwanwoo25장비2005"
# a ~ z 까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(string,"[a-z]{3}")
class(str_extract_all(string,"[a-z]{3}"))
# a ~ z 까지의 영문자가 연속으로 3개~5개 발견된 문자열 추출
str_extract_all(string,"[a-z]{3,5}")
# 영문만 추출하기
aaa <- str_extract_all(string,"[a-z]{1,}")
unlist(aaa)[1]
# 숫자만 추출하기
a <- str_extract_all(string, "[0-9]+")
unlist(a)

[[1]]
[1] "hon" "gki" "ldo" "you" "bee" "kwa" "nwo"

[1] "list"

[[1]]
[1] "hongk" "ildon" "yoube" "kwanw"

[1] "hongkildong"

[1] "105"  "1002" "25"   "7"    "5"    "44"   "2005"

In [12]:
unlist(str_extract_all(string,"[ㄱ-힣]{1,}"))

[1] "장비"

Warning message in Sys.setlocale(category = "LC_ALL", locale = "ko_KR.UTF-8"):
"OS reports request to set locale to "ko_KR.UTF-8" cannot be honored"

[1] ""

In [20]:
string <- "hongkildong105youbee1002kwanwoo25장비2005"
# a ~ z 까지의 영문자가 연속으로 3개 발견된 문자열 추출
str_extract_all(string,"[a-z]{3}")
class(str_extract_all(string,"[a-z]{3}"))

[[1]]
[1] "hon" "gki" "ldo" "you" "bee" "kwa" "nwo"

[1] "list"

In [21]:
string <- "hongkildong105youbee1002kwanwoo25장비2005"
str_extract_all(string,"[^a-z]{1,}")

str_length(string)
str_sub(string,1,33)
str_sub(string,1,str_locate(string, "장비")[1]-1)
str_to_upper(string)

[[1]]
[1] "105"        "1002"       "25장비2005"

[1] 39

[1] "hongkildong105youbee1002kwanwoo25"

[1] "hongkildong105youbee1002kwanwoo25"

[1] "HONGKILDONG105YOUBEE1002KWANWOO25장비2005"

In [22]:
string <- str_replace(string,"hongkildong105","홍길동35,")
string <- str_replace(string,"youbee1002","유비45,")
string <- str_replace(string,"kwanwoo25","관우25,")
string <- str_replace(string,"2005","20")
string

[1] "홍길동35,유비45,관우25,장비20"

In [23]:
# 문자열 분리하기
str_split(string, ",")

[[1]]
[1] "홍길동35" "유비45"   "관우25"   "장비20"

In [24]:

price <- "123,456,789"
price1<-unlist(str_split(price,","))
pricenum <- as.numeric(price1)
pricenum

as.numeric(str_replace_all(price,",",""))
as.numeric(str_remove_all(price,","))

[1] 123 456 789

[1] 123456789

[1] 123456789

In [25]:
# na를 변경하기.
temp <- c(1,2,NA,4)
temp
str_replace_na(temp)
str_replace_all(str_replace_na(temp),'NA','5')

[1]  1  2 NA  4

[1] "1"  "2"  "NA" "4"

[1] "1" "2" "5" "4"

In [18]:
#na 제거
temp <- c(1,2,NA,4)
temp
na.omit(temp)

[1]  1  2 NA  4

[1] 1 2 4
attr(,"na.action")
[1] 3
attr(,"class")
[1] "omit"